

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 5px;
}



form input[type=submit] {
    max-width: 30%;
}

label {
    display: inline-block;
    /* float: left; */
    clear: left;
    width: 250px;
    text-align: right;
}

input {
    display: inline-block;
    /* float: right; */
}

.add-point-dialog {
    display: flex;
    width: 100%;

}

.add-point-dialog .close {
    position: fixed;
    top: 0;
    right: 0;
    padding: 5px;
}

.close {
    left: unset;
    right: 0;
    top: 0;
    bottom: unset;
    display: fixed;

}



.dropzone {
    /* font-size: 90%; */
    white-space: pre;

    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;
}


.dropzone.active {
    border: red;
    border-width: 6px;
    
}


img.loading-spinner{
    background: transparent url(loading.gif) no-repeat scroll center center;
    background-size: 10%;

}