:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  /* Prevent scrolling */
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Center the app content */
  /* min-width: 320px;
  min-height: 100vh; */
  /* Full screen height */
  background: #f0f0f0;
  /* Optional background color */
}

#app {
  width: 100%;
  height: 100%;
  /* max-width: 1280px; */
  /* Optional max width for larger screens */
  text-align: center;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  /* Center content vertically */
  align-items: center;
  /* Center content horizontally */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}




button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color-scheme: light dark;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


button:disabled {
  background-color: #333;
  border-color: #666;
  color: #999;
  cursor: not-allowed;
  opacity: 0.6;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-size: 10px 10px;
}



button {
  touch-action: manipulation;
}




section {
  border: 1px dotted;
  margin: 5px;
  padding: 5px;
}


.highlight-red {
  background-color: pink;
  border: pink;
}

.highlight-green {
  background-color: lightgreen;
  border: green;
}

.float-top {
  position: fixed;
  top: 20px;
}

.float-right {
  position: fixed;
  right: 20px;
}

.float-bottom {
  position: fixed;
  bottom: 20px;
}

.float-left {
  position: fixed;
  left: 20px;
}


.flex-buttons {
  display: flex;
}





.flex-container {
  display: flex;
  justify-content: space-between;
  /* Default to evenly spread buttons */
  align-items: center;
  /* Align buttons vertically in the center */
  gap: 10px;
  /* Space between buttons */
  width: 100%;
  /* Full width of parent container */
}

.flex-container.center {
  justify-content: center;
  /* Center all buttons horizontally */
}

.flex-container.right {
  justify-content: flex-end;
  /* Align all buttons to the right */
}

.flex-container.left {
  justify-content: flex-start;
  /* Align all buttons to the left */
}



.flex {
  display: flex;
  gap: 2px;
}

.flex.horizontal {
  flex-direction: row;
}

.flex.vertical {
  flex-direction: column;
}




/* navs */
nav {
  z-index: 1;
  /* position: fixed; */
}



:root {
  --distance: 0em;
}

nav {
  position: absolute;
  z-index: 1000;

}

nav.centre {
  left: 50%;

}

nav.top {
  top: 10px;
}

nav.bottom {
  bottom: 10px;
}

nav.left {
  left: 10px;
}

nav.right {
  right: 10px;
}

dialog {
  position: fixed;
  max-width: 90%;
  height: 90%;
  overflow: scroll;

  top: 1rem;
  padding: 10px;
}